.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formBlock {
  width: 700px;
  background-color: #15073fa0;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.formTitle {
  margin-bottom: 10px;
}

.formLabel {
  font-size: 2ch;
}

.formInput {
  display: block;
  border: none;
  height: 30px;
  border-radius: 3px;
  width: 100%;
  font-size: medium;
  margin-bottom: 10px;
  padding: 3px;
  background: none;
  border: solid 1px #e1e5ee;
  outline: none;
  color: #e1e5ee;
}

.formButton {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  border: solid 1px;
  font-size: x-large;
}

.formComment {
  font-family: 'Helvetica';
  height: 100px;
  resize: none;
}

.formDocumentSelect {
  width: 80%;
  font-size: large;
  margin-bottom: 10px;
  border-radius: 5px;
  display: block;
  border: none;
  height: 30px;
  padding: 3px;
  border-radius: 5px;
  width: 100%;
  font-size: large;
  margin-bottom: 10px;
  background: none;
  border: solid 1px #e1e5ee;
  outline: none;
  color: #e1e5ee;
}

.fontSmall {
  font-size: 1.5ch;
}

.fontMedium {
  font-size: 2ch;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  margin: 2px 0px 2px 0px;
  opacity: 0.3;
  margin-bottom: 10px;
}
